.container{
    display: flex;
    align-items: center;
    padding: 20px 40px;
    width: 100vw;
    border-bottom: 1px solid #ddd;
    gap: 40px;
    .logo{
        height: 60px;
        width: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
        background-color: #FC790D;
        color: #FFF;
        font-weight: 800;
        font-size: 24px;
    }
}

